* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: hidden
}

/* Make the image to responsive */
.images {
  display: flex;
  height: 100%;
}

.image-left,
.image-right {
  max-height: 90%;
  max-width: 90%
}

.left-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  background-color: var(--primary-background);
}

.right-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  background-color: var(--pattern-background);
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  top: 0;
  color: var(--white);
  width: 100%;
  padding: 25px;
  z-index: 10;
}

.overlay2 {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 15px;
  z-index: 10;
}

 #cf {
  position: relative;
  margin: 0 auto;
  height: 100%;
}

#cf .top, #cf .bottom{
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  width: 100%
}

@keyframes cfFadeInOut {
  0% {
    opacity:1;
  }
  45% {
  opacity:1;
  }
  55% {
  opacity:0;
  }
  100% {
  opacity:0;
  }
}

#cf div.top {
  animation-name: cfFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-direction: alternate;
}
