<div class="container">
  <div class="overlay">
    <h1>Composr</h1>
    <h2>Enhanced images made by</h2>
    <h2>Deep Thinking patterning.</h2>
  </div>
  <div id="cf">
    <div class="images bottom">
      <img src="../../assets/woman.png" alt="Avatar" class="image-left">
      <img src="../../assets/plant.png" alt="Stlye" class="image-right">
    </div>
    <div class="images top">
      <img src="../../assets/man.png" alt="Avatar" class="image-left">
      <img src="../../assets/fireworks.png" alt="Stlye" class="image-right">
    </div>
  </div>
</div>
